extends baseEmail

block content
  p Hi #{firstName},
  p Confirm your Email? #{url}.
  p (Website for this action not yet implememnted.)
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Confirm your Email
  p press here to activate your account 
